                  <!-- Modal-->
                  <div id="id_modal_customer_add" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">顧客登録</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>顧客名</label>
                                <input type="text" class="form-control form-control-sm" placeholder="顧客名">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label>開始日</label>
                                <input type="text" value="06/22/1980" class="form-control input-datepicker-autoclose form-control-sm">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>郵便番号</label>
                                <input type="text" class="form-control form-control-sm" placeholder="101-0061">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label>住所１</label>
                                <input type="text" class="form-control form-control-sm" placeholder="住所１">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>住所２</label>
                                <input type="text" class="form-control form-control-sm" placeholder="住所１">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>電話番号</label>
                                <input type="text" class="form-control form-control-sm" placeholder="090-1324-5678">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label>ファックス</label>
                                <input type="text" class="form-control form-control-sm" placeholder="03-1324-5678">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label">支払条件</label>
                                <select data-style="btn-primary" class="selectpicker form-control">
                                  <option>月末締め翌月末支払い</option>
                                  <option>月末締め翌月25日手形支払い</option>
                                  <option>25日締め翌月末支払い</option>
                                  <option>月末締め翌々月10日支払い</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary btn-block btn-sm">登録</button>
                          <button type="button" class="btn btn-secondary btn-block btn-sm" data-dismiss="modal">キャンセル</button>
                        </div>
                      </div>
                    </div>
                  </div>
