                  <!-- Modal-->
                  <div id="id_modal_product_add" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">商品登録</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>商品名</label>
                                <select data-style="btn-primary" class="selectpicker form-control form-control-sm">
                                  <option>商品名商品名　1</option>
                                  <option>商品名商品名　2</option>
                                  <option>商品名商品名　3</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label>商品コード</label>
                                <input type="text" disabled="" class="form-control form-control-sm" value="A1234567890">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>入り数</label>
                                <input type="text" name="touchspin-num" class="form-control input-sm">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label>金額</label>
                                <input type="text" name="touchspin-yen" class="form-control input-sm">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>商品区分</label>
                                <select data-style="btn-primary" class="selectpicker form-control form-control-sm">
                                  <option>送料別</option>
                                  <option>送料込</option>
                                  <option>その他</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label>単位</label>
                                <select data-style="btn-primary" class="selectpicker form-control form-control-sm">
                                  <option>本</option>
                                  <option>丁</option>
                                  <option>個</option>
                                  <option>BOX</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary btn-block btn-sm">登録</button>
                          <button type="button" class="btn btn-secondary btn-block btn-sm" data-dismiss="modal">キャンセル</button>
                        </div>
                      </div>
                    </div>
                  </div>
