	<div class="card-header bg-info">
		<h5>Search Criteria</h5>
	</div>
	<div class="card-body bg-light">
   <form method="post" name="frmSearch" autocomplete="off">
     <table>
       <tr style="hight: 125px">
         <td colspan="10" style="font-size:16px;height: 32px">注文検索</td>
         <td><a th:href="@{/addOrder}" target="_blank" class="button-2">&nbsp;&nbsp;検索&nbsp;&nbsp;</a></td>
       </tr>
       <tr>            
         <td>発注No.</td><td><input type="text" id="orderNo" name="orderNo" style="width:100px"/></td>
         <td><span style="margin-right: 25px"></span></td>
         <td>顧客名</td><td><input type="text" id="customerName" name="customer" style="width:150px"/></td>
         <td><span style="margin-right: 25px"></span></td>
         <td>支店名</td><td><input type="text" id="branchName" name="branch" style="width:150px"/></td>
         <td><span style="margin-right: 25px"></span></td>
         <td>納品先</td><td><input type="text" id="nohinsaki" name="nohinSaki" style="width:150px"/></td>
       </tr>
       <tr>
         <td colspan="11" style="height: 6px; background-color:#fff"></td>
       </tr>
       <tr>
         <td>発注日</td><td><input type="text" name="orderDate" style="width: 100px" id="orderDate"/></td>
         <td><span style="margin-right: 25px"></span></td>
         <td>納品日</td><td><input type="text" name="nohinDate" style="width: 100px" id="nohinDate"/></td>             
         <td><span style="margin-right: 25px"></span></td>
         <td>出荷日</td><td><input type="text" name="shipDate" style="width: 100px" id="deliveryDate"/></td>              
         <td><span style="margin-right: 25px"></span></td>
         <td>作成日</td><td><input type="text" name="sakuseiDate" style="width: 100px" id="sakuseiDate"/></td>
       </tr>
     </table>
   </form>
   </div>
