	<div class="card-header bg-secondary text-white">
		<h5>商品検索</h5>
	</div>
	<div class="card-body bg-light">
		<div class="row">
			<div class="col-md-3 mb-3">
			<button type="button" class="btn btn-primary btn-block">登録</button >
			</div>
			<div class="col-md-3 mb-3">
			<button type="button" class="btn btn-primary btn-block">検索</button >
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 mb-3">
			  <label for="cc-expiration">発注No.</label>
			  <input type="text" class="form-control" id="orderNo" placeholder="orderNo" required>
			  <div class="invalid-feedback">
			    orderNo required
			  </div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="cc-cvv">顧客名</label>
			  <input type="text" class="form-control" id="customer" placeholder="customer" required>
			  <div class="invalid-feedback">
			    customer required
			  </div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="cc-cvv">支店名</label>
			  <input type="text" class="form-control" id="branch" placeholder="branch">
			</div>
			<div class="col-md-3 mb-3">
			  <label for="cc-cvv">納品先</label>
			  <input type="text" class="form-control" id="nohinsaki" placeholder="nohinsaki" required>
			  <div class="invalid-feedback">
			    nohinsaki required
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 mb-3">
			  <label for="cc-expiration">発注日No.</label>
			  <input type="text" class="form-control" id="orderDate" placeholder="orderDate" required>
			  <div class="invalid-feedback">
			    orderDate required
			  </div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="cc-cvv">納品日</label>
			  <input type="text" class="form-control" id="nohinDate" placeholder="nohinDate" required>
			  <div class="invalid-feedback">
			    nohinDate required
			  </div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="cc-cvv">出荷日</label>
			  <input type="text" class="form-control" id="shipDate" placeholder="shipDate">
			</div>
			<div class="col-md-3 mb-3">
			  <label for="cc-cvv">作成日</label>
			  <input type="text" class="form-control" id="sakuseiDate" placeholder="20191105" required>
			  <div class="invalid-feedback">
			    sakuseiDate required
			  </div>
			</div>
		</div>
   </div>
