	  <a class="navbar-brand mr-0 mr-md-2" href="#" aria-label="Bootstrap">
	  </a>

	  <div class="navbar-nav-scroll">
	    <ul class="navbar-nav bd-navbar-nav flex-row">
	      <li class="nav-item">
	        <a class="nav-link" href="#" th:href="@{home}">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" th:href="@{sms_order_search}">注文管理</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" th:href="@{sms_costomer_search}">顧客管理</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" th:href="@{sms_product_search}">商品管理</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" th:href="@{sms_stock_search}">在庫管理</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" th:href="@{sms_print_report}">帳票出力</a>
	      </li>
	    </ul>
	  </div>

	  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
	      <li class="nav-item">
        	<a class="nav-link text-warning" href="#" th:href="@{logout}">logout</a>
	      </li>
	  </ul>
