	<div class="card-header bg-secondary text-white">
		<h5>注文検索</h5>
	</div>
	<div class="card-body bg-light">
		<div class="row">
			<div class="col-md-1 mb-3">
			<button type="button" class="btn btn-primary btn-block">登録</button >
			</div>
			<div class="col-md-1 mb-3">
			<button type="button" class="btn btn-primary btn-block">検索</button >
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 mb-3">
			  <label for="orderNo">発注No.</label>
			  <input type="orderNo" class="form-control" id="orderNo" placeholder="orderNo" required>
			  <div class="invalid-feedback">
			    orderNo required
			  </div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="customer">顧客名</label>
			  <input type="text" class="form-control" id="customer" placeholder="customer" required>
			  <div class="invalid-feedback">
			    customer required
			  </div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="branch">支店名</label>
			  <input type="text" class="form-control" id="branch" placeholder="branch">
			</div>
			<div class="col-md-3 mb-3">
			  <label for="nohinsaki">納品先</label>
			  <input type="text" class="form-control" id="nohinsaki" placeholder="nohinsaki" required>
			  <div class="invalid-feedback">
			    nohinsaki required
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 mb-3">
			  <label for="id_order_date">発注日</label>
				<div class="input-group date">
				  <input type="text" class="form-control" id="id_order_date" placeholder="id_order_date" required>
				  <span class="fas fa-calendar-alt" onClick="$('#id_order_date').datepicker('show');" style="font-size: 36px; color: Dodgerblue;"></span>
				</div>
			  <div class="invalid-feedback">
			    id_order_date required
			  </div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="id_nohin_date">納品日</label>
				<div class="input-group date">
				  <input type="text" class="form-control" id="id_nohin_date" placeholder="id_nohin_date" required>
				  <span class="fas fa-calendar-alt" onClick="$('#id_nohin_date').datepicker('show');" style="font-size: 36px; color: Dodgerblue;"></span>
				</div>
			  <div class="invalid-feedback">
			    id_nohin_date required
			  </div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="id_ship_date">出荷日</label>
				<div class="input-group date">
				  <input type="text" class="form-control" id="id_ship_date" placeholder="id_ship_date">
				  <span class="fas fa-calendar-alt" onClick="$('#id_ship_date').datepicker('show');" style="font-size: 36px; color: Dodgerblue;"></span>
				</div>
			</div>
			<div class="col-md-3 mb-3">
			  <label for="id_sakusei_date">作成日</label>
				<div class="input-group date">
				  <input type="text" class="form-control" id="id_sakusei_date" placeholder="2019/11/05" required>
				  <span class="fas fa-calendar-alt" onClick="$('#id_sakusei_date').datepicker('show');" style="font-size: 36px; color: Dodgerblue;"></span>
			  </div>
			  <div class="invalid-feedback">
			    id_sakusei_date required
			  </div>
			</div>
		</div>
   </div>
