<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords"content="Sales Management System, 販売管理">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Sales Management System Standard Version">
	<meta name="author" content="KSK Co., Ltd.">
	
	<link rel="canonical" href="http://ksk-inc.com/salse/">
 	<link href="/css/lib/bootstrap.css" th:href="@{/css/lib/bootstrap.css}" rel="stylesheet"></link>
 	<link href="/css/lib/docs.min.css" th:href="@{/css/lib/docs.min.css}" rel="stylesheet"></link>
 	<link href="/css/cmn/sms_common.css" th:href="@{/css/cmn/sms_common.css}" rel="stylesheet"></link>

	<title>Sales Management System</title>
	
	<noscript>
		BrowserのJavascriptを有効にしてください。
	</noscript>
</head>

<body>
	<a class="skippy sr-only sr-only-focusable" href="#content">
		<span class="skippy-text">Skip to main content</span>
	</a>

<header id="id_sms_order_header" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
</header>


    <div class="container-fluid">
      <div class="row flex-xl-nowrap">

        <div id="id_sms_order_left" class="col-12 col-md-3 col-xl-2 bd-sidebar">
        </div>

        <main id="id_sms_order_main" class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content" role="main">
        </main>
      </div>
    </div>
    
	<footer id="id_footer" class="bd-footer text-muted">
	</footer>

<script th:src="@{/js/lib/jquery-3.4.1.js}"></script>
<script th:src="@{/js/lib/json2.js}"></script>
<script th:src="@{/js/lib/popper.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.js}"></script>
<script th:src="@{/js/lib/knockout-3.5.0.js}"></script>
<script th:src="@{/js/lib/knockout.mapping-latest.js}"></script>
<script th:src="@{/js/lib/docs.min.js}"></script>
<script th:src="@{/js/cmn/namespace.js}"></script>
<script th:src="@{/js/cmn/common.js}"></script>
<script th:src="@{/js/cmn/validation.js}"></script>

<script type="text/javascript">
  $(function(){
    var loadObj = [
      { id:"#id_sms_order_header", url:"sms_order_header"},
      { id:"#id_sms_order_left", url:"sms_order_left"},
      { id:"#id_sms_order_main", url:"sms_order_main"},
      { id:"#id_footer", url:"footer"}
    ];
		sms.common.loadHtml( loadObj, function() {
    });
  })
</script>

</body>
</html>
