<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <meta name="keywords"content="Sales Management System, 販売管理">
  <meta name="description" content="Sales Management System Standard Version">
  <meta name="author" content="KSK Co., Ltd.">
  <title>Sales Management System</title>
	
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/cover.css">

	<title>Sales Management System</title>
	
	<noscript>
		BrowserのJavascriptを有効にしてください。
	</noscript>
</head>

<body class="text-center">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	  <header class="masthead mb-auto">
	    <div class="inner">
	      <h3 class="masthead-brand">Sales Management System</h3>
	    </div>
	  </header>
	  <main role="main" class="inner cover">
	    <h1 class="cover-heading text-danger">システム情報欄</h1>
  		<div class="container">
    		<div class="row">
      		<div class="jumbotron text-danger">
      			システムまたは会社を紹介する文書なんでも収まる範囲でお願いします！！
      			良いんですよ！！良いんですよ！！良いんですよ！！良いんですよ！！
      			良いんですよ！！良いんですよ！！良いんですよ！！良いんですよ！！
      		</div>
    		</div>
  		</div>
    		
  		<div class="container">
    		<div class="row">
      		<div class="col">
    	      <a href="login.html" class="btn btn-lg btn-primary">login</a>
      		</div>
    		</div>
  		</div>
	  </main>
	  <footer id="id_footer" class="mastfoot mt-auto" th:include="include/inc-footer">
	  </footer>
	</div>

</body>
</html>
