<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="keywords"content="Sales Management System, 販売管理">
    <meta name="description" content="Sales Management System Standard Version">
    <meta name="author" content="KSK Co., Ltd.">

    <title>Sales Management System</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/style.blue.css">
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Sales</h1>
                    <h1>Management</h1>
                    <h1>System</h1>
                  </div>
                  <p>見積・注文・納品・請求・在庫・仕入・顧客・商品</p>
                  <p>統合管理システム</p>
                </div>
              </div>
             </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form class="text-left form-validate" pb-autologin="true" autocomplete="off" action="/login" method="post" th:action="@{authenticate}">
                    <div class="form-group-material">
                      <input id="username"  type="text" name="username" required data-msg="Please enter your username" class="input-material">
                      <label for="username" class="label-material">Username</label>
                    </div>
                    <div class="form-group-material">
                      <input id="password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
                      <label for="password" class="label-material">Password</label>
                    </div>
                    <div class="form-group text-center">
                      <button id="login" class="btn btn-lg btn-primary btn-block" type="submit" pb-role="submit">Login</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="http://www.ksk-inc.com" class="external">KSK Co., Ltd.</a>                        </p>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="js/sms-login.js"></script>
  </body>
</html>
