<section class="forms" data-bind="with: dataModel">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>顧客情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="form-control-label col-sm-3">顧客名</label>
              <div class="col-sm-9">
                <select class="form-control form-control-sm" 
                  data-bind="options: customerList,
                    optionsValue: 'key', optionsText: 'value', value:customerModel.customerNo,
                    optionsCaption:'選択してください',
                    event: {change: $root.doCustomerChange}">
                </select>
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">住所</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: customerModel.address">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">電話</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: customerModel.telNo">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">ファックス</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: customerModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>支店情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="form-control-label col-sm-3">支店名</label>
              <div class="col-sm-9">
                <select class="form-control form-control-sm"
                  data-bind="options: branchList,
                    optionsValue: 'key', optionsText: 'value', value:branchModel.branchNo,
                    optionsCaption:'選択してください'">
                </select>
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">住所</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: branchModel.address">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">電話</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: branchModel.telNo">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">ファックス</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: branchModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>納品先情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="form-control-label col-sm-3">納品先名</label>
              <div class="col-sm-9">
                <select class="form-control form-control-sm"
                  data-bind="options: deliveryDestList,
                    optionsValue: 'key', optionsText: 'value', value:deliveryDestModel.deliveryDestNo,
                    optionsCaption:'選択してください'">
                </select>
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">住所</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: deliveryDestModel.address">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">電話</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: deliveryDestModel.telNo">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">ファックス</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: deliveryDestModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>注文情報</h4>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="form-control-label col-sm-3">注文No</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" data-bind="value: detail.orderNo">
            </div>
          </div>
          <div class="form-group row">       
            <label class="form-control-label col-sm-3">送り状No</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" data-bind="value: detail.shippingLabelNo">
            </div>
          </div>
          <div class="form-group row">       
            <label class="form-control-label col-sm-3">発注日</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: detail.orderDate">
            </div>
          </div>
          <div class="form-group row">       
            <label class="form-control-label col-sm-3">発送日</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: detail.shippingDate">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.doAdd">納品書作成</button>
        </div>
        <div class="col-sm-6">
          <a role="button" class="btn btn-primary btn-block btn-sm" href="sms-delivery-update.html">納品書確認</a>
        </div>
      </div>
    </div>
  </div>
</section>
