<section class="forms" data-bind="with: dataModel.productModel">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>商品情報</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>商品名</label>
                <input type="text" class="form-control form-control-sm" data-bind="value:productName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">       
                <label>商品コード</label>
                <input type="text" class="form-control form-control-sm" data-bind="value:productCode"
                  pattern="[A-Z]{2}-[A-Z0-9]{3}"
                  placeholder="AB-A01">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>入り数</label>
                <input type="text" class="form-control form-control-sm" data-bind="value:quantity">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">       
                <label>金額</label>
                <input type="text" class="form-control form-control-sm" data-bind="value:amount">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>商品区分</label>
                <select class="form-control form-control-sm" data-bind="value: productType">
                  <option th:each="keyValue : ${smsViewModel.productTypeList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">       
                <label>単位</label>
                <select class="form-control form-control-sm" data-bind="value: unitType">
                  <option th:each="keyValue : ${smsViewModel.unitTypeList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.doAdd">登録</button>
          </div>
        </div>
        <div class="col-sm-3 offset-sm-6">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-block btn-sm" data-bind="click: $root.doCancel">キャンセル</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
