<section class="charts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card line-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>注文状況1</h4>
          </div>
          <div class="card-body">
            <canvas id="lineChartExample"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>注文状況2</h4>
          </div>
          <div class="card-body">
            <canvas id="barChartExample"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card line-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>注文状況3</h4>
          </div>
          <div class="card-body">
            <canvas id="lineChartExample1"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>注文状況4</h4>
          </div>
          <div class="card-body">
            <canvas id="barChartExample1"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card pie-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>顧客A</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="pieChartExample"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>顧客B</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="polarChartExample"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card pie-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>顧客C</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="pieChartExample1"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>顧客D</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="polarChartExample1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>在庫-商品1</h4>
          </div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge1" class="gauge-canvas"></canvas><span id="gauge1Value" class="gauge-label"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>在庫-商品2</h4>
          </div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge2" class="gauge-canvas"></canvas><span id="gauge2Value" class="gauge-label"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>在庫-商品3</h4>
          </div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge3" class="gauge-canvas"></canvas><span id="gauge3Value" class="gauge-label"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>在庫-商品4</h4>
          </div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge4" class="gauge-canvas"></canvas><span id="gauge4Value" class="gauge-label"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>追加情報</h4>
      </div>
      <div class="card-body">
        <div class="row mt-5">
          <div class="col-md-3">
            <p>データ01<span values="5,6,7,9,9,5,3,2,2,4,6,7,5,6,7,9,9,5,3,2,2,4,6,7" class="sparklines"></span></p>
            <p>データ02<span values="5,6,7,2,0,-4,-2,4,5,6,7,2,0,-4,-2,4" sparkType="bar" class="sparklines"></span></p>
            <p>データ03<span values="5:10,2:3,7:4,4:3,5:10,2:3,7:4,4:3" sparkType="bar" class="sparklines"></span></p>
          </div>
          <div class="col-md-3">
            <p>データ04<span values="5,6,7,9,9,5,3,2,2,4,6,7,5,6,7,9,9,5,3,2,2,4,6,7" sparkType="box" class="sparklines"></span></p>
            <p>データ05<span values="5,6,7,9,9,5,3,2,2,4,6,7" sparkType="discrete" sparkWidth="50" class="sparklines"></span></p>
            <p>データ06<span values="1,3,5" sparkType="pie" class="sparklines">                           </span></p>
          </div>
          <div class="col-md-3">
            <p>データ07<span values="5,6,7,9,9,5,3,2,2,4,6,7,5,6,7,9,9,5,3,2,2,4,6,7" class="sparklines"></span></p>
            <p>データ08<span values="5,6,7,2,0,-4,-2,4,5,6,7,2,0,-4,-2,4" sparkType="bar" class="sparklines"></span></p>
            <p>データ09<span values="5:10,2:3,7:4,4:3,5:10,2:3,7:4,4:3" sparkType="bar" class="sparklines"></span></p>
          </div>
          <div class="col-md-3">
            <p>データ10<span values="5,6,7,9,9,5,3,2,2,4,6,7,5,6,7,9,9,5,3,2,2,4,6,7" sparkType="box" class="sparklines"></span></p>
            <p>データ11<span values="5,6,7,9,9,5,3,2,2,4,6,7" sparkType="discrete" sparkWidth="50" class="sparklines"></span></p>
            <p>データ12<span values="1,3,5" sparkType="pie" class="sparklines">                           </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal-->
<div th:insert="modal/modal-order-add">
</div>
<div th:insert="modal/modal-order-detail">
</div>
<div th:insert="modal/modal-order-update">
</div>
<div th:insert="modal/modal-customer-add">
</div>
<div th:insert="modal/modal-branch-add">
</div>
<div th:insert="modal/modal-product-add">
</div>
<!-- Modal-->
