<section class="forms" data-bind="with: dataModel">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>顧客情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row align-items-center">
              <label class="form-control-label col-sm-2">顧客名</label>
              <div class="col-sm-10">
                <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:customerModel.customerNo, event:{change: $root.doCustomerChange}">
                  <option th:each="keyValue : ${smsViewModel.customerList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                </select>
              </div>
            </div>
            <div class="form-group row align-items-center">       
              <label class="form-control-label col-sm-2">住所</label>
              <div class="col-sm-10">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: customerModel.address">
              </div>
            </div>
            <div class="form-group row align-items-center">       
              <label class="form-control-label col-sm-2">電話</label>
              <div class="col-sm-4">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: customerModel.telNo">
              </div>
              <label class="form-control-label col-sm-2 text-right">ファックス</label>
              <div class="col-sm-4">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: customerModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>支店情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row align-items-center">
              <label class="form-control-label col-sm-2">支店名</label>
              <div class="col-sm-10">
                <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:branchModel.branchNo">
                  <option th:each="keyValue : ${smsViewModel.branchList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                </select>
              </div>
            </div>
            <div class="form-group row align-items-center">       
              <label class="form-control-label col-sm-2">住所</label>
              <div class="col-sm-10">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: branchModel.address">
              </div>
            </div>
            <div class="form-group row align-items-center">       
              <label class="form-control-label col-sm-2">電話</label>
              <div class="col-sm-4">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: branchModel.telNo">
              </div>
              <label class="form-control-label col-sm-2 text-right">ファックス</label>
              <div class="col-sm-4">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: branchModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>納品先情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row align-items-center">
              <label class="form-control-label col-sm-2">納品先名</label>
              <div class="col-sm-10">
                <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:deliveryDestModel.deliveryDestNo">
                  <option th:each="keyValue : ${smsViewModel.deliveryDestList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                </select>
              </div>
            </div>
            <div class="form-group row align-items-center">       
              <label class="form-control-label col-sm-2">住所</label>
              <div class="col-sm-10">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: deliveryDestModel.address">
              </div>
            </div>
            <div class="form-group row align-items-center">       
              <label class="form-control-label col-sm-2">電話</label>
              <div class="col-sm-4">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: deliveryDestModel.telNo">
              </div>
              <label class="form-control-label col-sm-2 text-right">ファックス</label>
              <div class="col-sm-4">
                <input type="text" disabled class="form-control form-control-sm" data-bind="value: deliveryDestModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>注文情報</h4>
        </div>
        <div class="card-body">
          <div class="form-group row align-items-center">
            <label class="form-control-label col-sm-2">注文No</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" data-bind="value: detail.orderNo" placeholder="注文No">
            </div>
          </div>
          <div class="form-group row align-items-center">       
            <label class="form-control-label col-sm-2">送り状No</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" data-bind="value: detail.shippingLabelNo" placeholder="送り状No">
            </div>
          </div>
          <div class="form-group row align-items-center">       
            <label class="form-control-label col-sm-2">発注日</label>
            <div class="col-sm-4">
              <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: detail.orderDate" placeholder="2019/12/01">
            </div>
            <label class="form-control-label col-sm-2 text-right">発送日</label>
            <div class="col-sm-4">
              <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: detail.shippingDate" placeholder="2019/12/01">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <form action="/invoice/download" method="post">
              <button class="btn btn-primary btn-block btn-sm" type="submit">請求書作成</button>
            </form>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <form action="/invoice/display" method="post" target="_blank">
              <button class="btn btn-primary btn-block btn-sm" type="submit">請求書確認</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
