<section>
  <div class="container-fluid">
    <!-- Page Header-->
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-8">
            <h4>株式会社シーエムエス様　出荷履歴</h4>
          </div>
          <div class="col-lg-1">
            <label class="form-control-label">顧客</label>
          </div>
          <div class="col-lg-3">
            <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:dataModel.criteria.customerNo, event:{change: $root.doCustomerChange}">
              <option th:each="keyValue : ${smsViewModel.customerList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="id_out_stock_list" class="table table-bordered table-striped table-hover table-sm display nowrap" style="width:100%">
            <thead>
              <tr class="bg-primary text-white">
                <th width="10%">商品コード</th>
                <th width="20%">商品名</th>
                <th width="2%">1日</th>
                <th width="2%">2日</th>
                <th width="2%">3日</th>
                <th width="2%">4日</th>
                <th width="2%">5日</th>
                <th width="2%">6日</th>
                <th width="2%">7日</th>
                <th width="2%">8日</th>
                <th width="2%">9日</th>
                <th width="2%">10日</th>
                <th width="2%">11日</th>
                <th width="2%">12日</th>
                <th width="2%">13日</th>
                <th width="2%">14日</th>
                <th width="2%">15日</th>
                <th width="2%">16日</th>
                <th width="2%">17日</th>
                <th width="2%">18日</th>
                <th width="2%">19日</th>
                <th width="2%">20日</th>
                <th width="2%">21日</th>
                <th width="2%">22日</th>
                <th width="2%">23日</th>
                <th width="2%">24日</th>
                <th width="2%">25日</th>
                <th width="2%">26日</th>
                <th width="2%">27日</th>
                <th width="2%">28日</th>
                <th width="2%">29日</th>
                <th width="2%">30日</th>
                <th width="2%">31日</th>
                <th>合計</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="outStockModel : ${smsViewModel.outStockList}">
                <td th:text="${outStockModel.productCode}">AF-360</td>
                <td th:text="${outStockModel.productName}">アクアフォーム３６０</td>
                <td th:text="${outStockModel.num01}">10</td>
                <td th:text="${outStockModel.num02}">20</td>
                <td th:text="${outStockModel.num03}">30</td>
                <td th:text="${outStockModel.num04}">40</td>
                <td th:text="${outStockModel.num05}">50</td>
                <td th:text="${outStockModel.num06}">60</td>
                <td th:text="${outStockModel.num07}">70</td>
                <td th:text="${outStockModel.num08}">80</td>
                <td th:text="${outStockModel.num09}">90</td>
                <td th:text="${outStockModel.num10}">100</td>
                <td th:text="${outStockModel.num11}">110</td>
                <td th:text="${outStockModel.num12}">120</td>
                <td th:text="${outStockModel.num13}">130</td>
                <td th:text="${outStockModel.num14}">140</td>
                <td th:text="${outStockModel.num15}">150</td>
                <td th:text="${outStockModel.num16}">160</td>
                <td th:text="${outStockModel.num17}">170</td>
                <td th:text="${outStockModel.num18}">180</td>
                <td th:text="${outStockModel.num19}">190</td>
                <td th:text="${outStockModel.num20}">200</td>
                <td th:text="${outStockModel.num21}">210</td>
                <td th:text="${outStockModel.num22}">220</td>
                <td th:text="${outStockModel.num23}">230</td>
                <td th:text="${outStockModel.num24}">240</td>
                <td th:text="${outStockModel.num25}">250</td>
                <td th:text="${outStockModel.num26}">260</td>
                <td th:text="${outStockModel.num27}">270</td>
                <td th:text="${outStockModel.num28}">280</td>
                <td th:text="${outStockModel.num29}">290</td>
                <td th:text="${outStockModel.num30}">300</td>
                <td th:text="${outStockModel.num31}">310</td>
                <td th:text="${outStockModel.sum}">4960</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
