<div class="side-navbar-wrapper">
  <!-- Sidebar Header    -->
  <div class="sidenav-header d-flex align-items-center justify-content-center">
    <!-- System Info-->
    <div class="sidenav-header-inner text-center"><a href="sms-internal-error.html"><img src="img/project-4.jpg" alt="SMS" class="img-fluid rounded-circle"></a>
      <h2 class="h5"><strong>Sales</strong><strong class="text-primary"> Management </strong><strong>System</strong></h2>
    </div>
    <!-- Small Brand information, appears on minimized sidebar-->
    <div class="sidenav-header-logo">
      <a href="sms-home.html" class="brand-small text-center">
        <h2><strong class="text-white">S</strong><strong class="text-primary">M</strong><strong class="text-white">S</strong></h2>
      </a>
    </div>
  </div>
  <!-- Sidebar Navigation Menus-->
  <div class="main-menu">
    <h5 class="sidenav-heading">メインメニュー</h5>
    <ul id="side-main-menu" class="side-menu list-unstyled">                  
      <li id="id_home_menu"><a href="sms-home.html"><i class="icon-home"></i>Home</a></li>
      <li th:if="${isAdmin}"><a href="#id_estimation_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-form"></i>見積管理</a>
        <ul id="id_estimation_menu" class="collapse list-unstyled ">
          <li id="id_estimation_menu_1"><a href="sms-estimation.html">見積管理</a></li>
          <li id="id_estimation_menu_2"><a href="sms-estimation-status.html">見積状況</a></li>
          <li id="id_estimation_menu_4"><a href="sms-estimation-add.html">見積登録</a></li>
          <li id="id_estimation_menu_3"><a href="sms-estimation-search.html">見積検索</a></li>
          <li id="id_estimation_menu_5"><a href="sms-estimation-update.html">見積変更</a></li>
          <li id="id_estimation_menu_6"><a href="sms-estimation-detail.html">見積詳細</a></li>
        </ul>
      </li>
      <li><a href="#id_order_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-form"></i>注文管理</a>
        <ul id="id_order_menu" class="collapse list-unstyled ">
          <li id="id_order_menu_1" th:if="${isAdmin}"><a href="sms-order.html">注文管理</a></li>
          <li id="id_order_menu_2" th:if="${isAdmin}"><a href="sms-order-status.html">注文状況</a></li>
          <li id="id_order_menu_4"><a href="sms-order-add.html">注文登録</a></li>
          <li id="id_order_menu_3"><a href="sms-order-search.html">注文検索</a></li>
          <li id="id_order_menu_5"><a href="sms-order-update.html">注文変更</a></li>
          <li id="id_order_menu_6"><a href="sms-order-detail.html">注文詳細</a></li>
          <li id="id_order_menu_7" th:if="${isAdmin}"><a href="sms-order-create.html">注文確認書作成</a></li>
        </ul>
      </li>
      <li><a href="#id_delivery_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-paper-airplane"></i>納品管理</a>
        <ul id="id_delivery_menu" class="collapse list-unstyled ">
          <li id="id_delivery_menu_1" th:if="${isAdmin}"><a href="sms-delivery.html">納品管理</a></li>
          <li id="id_delivery_menu_2" th:if="${isAdmin}"><a href="sms-delivery-status.html">納品状況</a></li>
          <li id="id_delivery_menu_4"><a href="sms-delivery-create.html">納品書作成</a></li>
          <li id="id_delivery_menu_3" th:if="${isAdmin}"><a href="sms-delivery-search.html">納品書検索</a></li>
          <li id="id_delivery_menu_5" th:if="${isAdmin}"><a href="sms-delivery-detail.html">納品書確認</a></li>
        </ul>
      </li>
      <li><a href="#id_invoice_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-bill"></i>請求管理 </a>
        <ul id="id_invoice_menu" class="collapse list-unstyled ">
          <li id="id_invoice_menu_1" th:if="${isAdmin}"><a href="sms-invoice.html">請求管理</a></li>
          <li id="id_invoice_menu_2" th:if="${isAdmin}"><a href="sms-invoice-status.html">請求状況</a></li>
          <li id="id_invoice_menu_4"><a href="sms-invoice-create.html">請求書作成</a></li>
          <li id="id_invoice_menu_3" th:if="${isAdmin}"><a href="sms-invoice-search.html">請求書検索</a></li>
          <li id="id_invoice_menu_5" th:if="${isAdmin}"><a href="sms-invoice-detail.html">請求書確認</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="main-menu">
    <h5 class="sidenav-heading">マスタ管理メニュー</h5>
    <ul id="side-main-menu" class="side-menu list-unstyled">                  
      <li><a href="#id_customer_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-form"></i>顧客管理</a>
        <ul id="id_customer_menu" class="collapse list-unstyled ">
          <li id="id_customer_menu_1" th:if="${isAdmin}"><a href="sms-customer.html">顧客管理</a></li>
          <li id="id_customer_menu_2" th:if="${isAdmin}"><a href="sms-customer-status.html">顧客状況</a></li>
          <li id="id_customer_menu_4"><a href="sms-customer-add.html">顧客登録</a></li>
          <li id="id_customer_menu_3"><a href="sms-customer-search.html">顧客検索</a></i>
          <li id="id_customer_menu_5"><a href="sms-customer-update.html">顧客変更</a></li>
          <li id="id_customer_menu_6"><a href="sms-customer-detail.html">顧客詳細</a></li>
        </ul>
      </li>
      <li><a href="#id_branch_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-form"></i>支店管理</a>
        <ul id="id_branch_menu" class="collapse list-unstyled ">
          <li id="id_branch_menu_1" th:if="${isAdmin}"><a href="sms-branch.html">支店管理</a></li>
          <li id="id_branch_menu_2" th:if="${isAdmin}"><a href="sms-branch-status.html">支店状況</a></li>
          <li id="id_branch_menu_4"><a href="sms-branch-add.html">支店登録</a></li>
          <li id="id_branch_menu_3"><a href="sms-branch-search.html">支店検索</a></li>
          <li id="id_branch_menu_5"><a href="sms-branch-update.html">支店変更</a></li>
          <li id="id_branch_menu_7"><a href="sms-branch-detail.html">支店詳細</a></li>
          <li id="id_branch_menu_6"><a href="sms-deliverydest-add.html">納品先登録</a></li>
        </ul>
      </li>
      <li><a href="#id_product_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-form"></i>商品管理</a>
        <ul id="id_product_menu" class="collapse list-unstyled ">
          <li id="id_product_menu_1" th:if="${isAdmin}"><a href="sms-product.html">商品管理</a></li>
          <li id="id_product_menu_2" th:if="${isAdmin}"><a href="sms-product-status.html">商品状況</a></li>
          <li id="id_product_menu_4"><a href="sms-product-add.html">商品登録</a></li>
          <li id="id_product_menu_3"><a href="sms-product-search.html">商品検索</a></li>
          <li id="id_product_menu_5"><a href="sms-product-update.html">商品変更</a></li>
          <li id="id_product_menu_6"><a href="sms-product-detail.html">商品詳細</a></li>
        </ul>
      </li>
      <li th:if="${isAdmin}"><a href="#id_stock_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-check"></i>在庫管理</a>
        <ul id="id_stock_menu" class="collapse list-unstyled ">
          <li id="id_stock_menu_1"><a href="sms-stock.html">在庫管理</a></li>
          <li id="id_stock_menu_2"><a href="sms-stock-status.html">在庫状況</a></li>
          <li id="id_stock_menu_3"><a href="sms-stock-search.html">在庫検索</a></li>
          <li id="id_stock_menu_4"><a href="sms-stock-in.html">入庫登録</a></li>
          <li id="id_stock_menu_5"><a href="sms-stock-out.html">出庫登録</a></li>
          <li id="id_stock_menu_6"><a href="sms-stock-update.html">在庫変更(棚卸)</a></li>
        </ul>
      </li>
      <li th:if="${isAdmin}"><a href="#id_purchase_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-form"></i>仕入管理</a>
        <ul id="id_purchase_menu" class="collapse list-unstyled ">
          <li id="id_purchase_menu_1"><a href="sms-purchase.html">仕入管理</a></li>
          <li id="id_purchase_menu_2"><a href="sms-purchase-status.html">仕入状況</a></li>
          <li id="id_purchase_menu_4"><a href="sms-purchase-add.html">仕入登録</a></li>
          <li id="id_purchase_menu_3"><a href="sms-purchase-search.html">仕入検索</a></li>
          <li id="id_purchase_menu_5"><a href="sms-purchase-update.html">仕入変更</a></li>
          <li id="id_purchase_menu_6"><a href="sms-purchase-detail.html">仕入詳細</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="admin-menu" th:if="${isAdmin}">
    <h5 class="sidenav-heading">管理メニュー</h5>
    <ul id="id_admin_menu" class="side-menu list-unstyled"> 
      <li id="id_admin_menu_1"><a href="sms-statistics.html"><i class="icon-line-chart"></i>統計情報</a></li>
      <li><a href="#id_report_menu" aria-expanded="false" data-toggle="collapse"><i class="icon-form"></i>帳票出力</a>
        <ul id="id_report_menu" class="collapse list-unstyled ">
          <li id="id_report_menu_4"><a href="sms-order-create.html">注文確認書作成</a></li>
          <li id="id_report_menu_2"><a href="sms-delivery-create.html">納品書作成</a></li>
          <li id="id_report_menu_3"><a href="sms-invoice-create.html">請求書作成</a></li>
          <li id="id_report_menu_1"><a href="sms-shipping-history.html">出荷履歴</a></li>
        </ul>
      </li>
      <li id="id_admin_menu_3" th:if="${isAdmin}"><a href="#"><i class="icon-mail"></i>Contact Us</a></li>
    </ul>
  </div>
</div>
