<section th:insert="include/inc-default-buttons" th:if="${isAdmin}">
</section>
<section data-bind="with: dataModel">
  <div class="card">
    <div class="card-header">
      <h4>検索条件</h4>
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label>注文No</label>
            <input type="text" placeholder="" data-mask="99-9999999" class="form-control form-control-sm" data-bind="value: criteria.orderNo">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">顧客</label>
            <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:criteria.customerNo, event:{change: $root.doCustomerChange}">
              <option th:each="keyValue : ${smsViewModel.customerList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支店</label>
            <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:criteria.branchNo">
              <option th:each="keyValue : ${smsViewModel.branchList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">納品先</label>
            <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:criteria.deliveryDestNo">
              <option th:each="keyValue : ${smsViewModel.deliveryDestList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">開始日</label>
            <input type="text" value="06/22/1980" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: criteria.startDate">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支払条件</label>
            <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:criteria.paymentTerms">
              <option th:each="keyValue : ${smsViewModel.paymentTermsList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doSearch" class="btn btn-primary btn-block btn-sm">顧客検索</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled id="id_btn_customer_detail" type="button" data-toggle="modal" data-target="#id_modal_customer_detail" class="btn btn-primary btn-block btn-sm with-table-row">顧客詳細</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled id="id_btn_customer_update" type="button" data-toggle="modal" data-target="#id_modal_customer_update" class="btn btn-primary btn-block btn-sm with-table-row">顧客変更</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled data-bind="click:$root.doDelete" type="button" class="btn btn-primary btn-block btn-sm with-table-row">顧客削除</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-bind="with:dataModel">
  <div class="card" data-bind="visible:customerModelList().length > 0">
    <div class="card-header">
      <h4>顧客検索結果</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="id_customer_list" class="table table-striped table-hover table-sm" style="width: 100%;">
          <thead>
            <tr>
              <th width="2%">#</th>
              <th width="10%">顧客名</th>
              <th width="5%">郵便番号</th>
              <th width="20%">住所１</th>
              <th>住所２</th>
              <th width="5%">電話</th>
              <th width="5%">ファックス</th>
              <th width="5%">開始日</th>
              <th width="20%">支払条件</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: customerModelList">
            <tr class="clickable-row">
              <th scope="row">
                <div class="form-check-inline">
                  <input type="radio" class="form-check-input" name="table_radio" data-bind="value: customerNo" onClick="doCheckedTableRow()">
                </div>
              </th>
              <td><span data-bind="text: customerName"></span></td>
              <td><span data-bind="text: zipcode"></span></td>
              <td><span data-bind="text: address"></span></td>
              <td><span data-bind="text: addressDetail"></span></td>
              <td><span data-bind="text: telNo"></span></td>
              <td><span data-bind="text: faxNo"></span></td>
              <td><span data-bind="text: startDate"></span></td>
              <td><span data-bind="text: paymentTerms"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Modal-->
<div th:insert="modal/modal-error">
</div>
<div th:insert="modal/modal-order-add">
</div>
<div th:insert="modal/modal-customer-add">
</div>
<div th:insert="modal/modal-branch-add">
</div>
<div th:insert="modal/modal-deliverydest-add">
</div>
<div th:insert="modal/modal-product-add">
</div>
<div th:insert="modal/modal-customer-detail">
</div>
<div th:insert="modal/modal-customer-update">
</div>
<!-- Modal-->
