<section class="forms" data-bind="with: dataModel">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>納品先情報</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>顧客名</label>
                <select class="form-control form-control-sm" data-bind="value:deliveryDestModel.customerNo, event:{change: $root.doCustomerChange}">
                  <option th:each="keyValue : ${smsViewModel.customerList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>支店名</label>
                <select class="form-control form-control-sm" data-bind="value:deliveryDestModel.branchNo">
                  <option th:each="keyValue : ${smsViewModel.branchList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">       
                <label>納品先名</label>
                <input type="text" class="form-control form-control-sm" data-bind="value: deliveryDestModel.deliveryDestName" placeholder="納品先名">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>郵便番号</label>
                <input type="text" class="form-control form-control-sm" data-bind="value: deliveryDestModel.zipcode" placeholder="101-0061">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>電話番号</label>
                <input type="text" class="form-control form-control-sm" data-bind="value: deliveryDestModel.telNo" placeholder="090-1324-5678">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">       
                <label>ファックス</label>
                <input type="text" class="form-control form-control-sm" data-bind="value: deliveryDestModel.faxNo" placeholder="03-1324-5678">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">       
                <label>住所１</label>
                <input type="text" class="form-control form-control-sm" data-bind="value: deliveryDestModel.address" placeholder="住所１">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>住所２</label>
                <input type="text" class="form-control form-control-sm" data-bind="value: deliveryDestModel.addressDetail" placeholder="住所２">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.doAdd">登録</button>
          </div>
        </div>
        <div class="col-sm-3 offset-sm-6">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-block btn-sm" data-bind="click: $root.doCancel">キャンセル</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
