<section data-bind="with: dataModel">
  <div class="card">
    <div class="card-header">
      <h4>検索条件</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>注文No</label>
            <input type="text" placeholder="注文No" class="form-control form-control-sm" data-bind="value: criteria.orderNo">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="form-control-label">顧客</label>
            <select class="form-control form-control-sm" data-bind="value:criteria.customerNo, event:{change: $root.doCustomerChange}">
              <option th:each="keyValue : ${smsViewModel.customerList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="form-control-label">支店</label>
            <select class="form-control form-control-sm" data-bind="value:criteria.branchNo">
              <option th:each="keyValue : ${smsViewModel.branchList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="form-control-label">納品先</label>
            <select class="form-control form-control-sm" data-bind="value:criteria.deliveryDestNo">
              <option th:each="keyValue : ${smsViewModel.deliveryDestList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="form-control-label">発注日</label>
            <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: criteria.orderDate" placeholder="2019/12/01">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="form-control-label">納品日</label>
            <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: criteria.deliveryDate" placeholder="2019/12/01">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="form-control-label">出荷日</label>
            <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: criteria.shippingDate" placeholder="2019/12/01">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="form-control-label">登録日</label>
            <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: criteria.registrationDate" placeholder="2019/12/01">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <button  id="id_btn_order_search" type="button" data-bind="click:$root.doSearch" class="btn btn-primary btn-block btn-sm">注文検索</button>
          </div>
        </div>
        <div class="col-sm-3" th:if="${isAdmin}">
          <div class="form-group">
            <button disabled id="id_btn_order_detail" type="button" data-toggle="modal" data-target="#id_modal_order_detail" class="btn btn-primary btn-block btn-sm with-table-row">注文詳細</button>
          </div>
        </div>
        <div class="col-sm-3" th:if="${isAdmin}">
          <div class="form-group">
            <button disabled id="id_btn_order_update" type="button" data-toggle="modal" data-target="#id_modal_order_update" class="btn btn-primary btn-block btn-sm with-table-row">注文変更</button>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <a class="btn btn-primary btn-block btn-sm disabled with-table-row" href="sms-order-detail.html" role="button">注文詳細</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <a class="btn btn-primary btn-block btn-sm disabled with-table-row" href="sms-order-update.html" role="button">注文変更</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <button disabled data-bind="click:$root.doDeleteItem" type="button" class="btn btn-primary btn-block btn-sm with-table-row">注文削除</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div th:insert="include/inc-order-list">
</div>

<!-- Modal-->
<div th:insert="modal/modal-error">
</div>
<!-- Modal-->
