<form>
<section data-bind="with:dataModel.criteria">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-2">
          <h4>検索条件</h4>
        </div>
        <div class="col-lg-2 offset-lg-6">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doSearch" class="btn btn-primary btn-block btn-sm">支店検索</button>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <button type="reset" class="btn btn-primary btn-block btn-sm">リセット</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">顧客名</label>
            <input type="text" placeholder="顧客名" class="form-control form-control-sm" data-bind="value: customerName">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支店名</label>
            <input type="text" placeholder="支店名" class="form-control form-control-sm" data-bind="value: branchName">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">納品先名</label>
            <input type="text" placeholder="納品先" class="form-control form-control-sm" data-bind="value: deliveryDestName">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#id_modal_branch_add">支店追加</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button data-bind="click:$root.doDetail" class="btn btn-primary btn-block btn-sm disabled with-table-row">支店詳細</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button data-bind="click:$root.doUpdate" class="btn btn-primary btn-block btn-sm disabled with-table-row">支店変更</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button data-bind="click:$root.doDelete" class="btn btn-primary btn-block btn-sm with-table-row">支店削除</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>

<div th:insert="include/inc-branch-list">
</div>

<!-- Modal-->
<div th:insert="modal/modal-branch-add">
</div>
<div th:insert="modal/modal-error">
</div>
<!-- Modal-->
