      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><a href="pages-profile.html"><img src="img/project-4.jpg" alt="SMS" class="img-fluid rounded-circle"></a>
            <h2 class="h5"><strong>Sales</strong><strong class="text-primary"> Management </strong><strong>System</strong></h2>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo">
            <a href="sms-home.html" class="brand-small text-center">
              <h2><strong class="text-white">S</strong><strong class="text-primary">M</strong><strong class="text-white">S</strong></h2>
            </a>
          </div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">メインメニュー</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="sms-home.html"> <i class="icon-home"></i>Home</a></li>
            <li><a href="#customerDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-form"></i>顧客管理</a>
              <ul id="customerDropdown" class="collapse list-unstyled ">
                <li><a href="sms-customer.html">顧客検索</a></li>
                <li><a href="sms-customer-add.html">顧客登録</a></li>
                <li><a href="sms-branch-add.html">支店登録</a></li>
                <li><a href="sms-product-add.html">商品登録</a></li>
              </ul>
            </li>
            <li><a href="#branchDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-form"></i>支店管理</a>
              <ul id="branchDropdown" class="collapse list-unstyled ">
                <li><a href="sms-branch.html">支店検索</a></li>
                <li><a href="sms-branch-add.html">支店登録</a></li>
              </ul>
            </li>
            <li><a href="#productDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-form"></i>商品管理</a>
              <ul id="productDropdown" class="collapse list-unstyled ">
                <li><a href="sms-product.html">商品検索</a></li>
                <li><a href="sms-product-add.html">商品登録</a></li>
              </ul>
            </li>
            <li><a href="#estimateDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-form"></i>見積管理</a>
              <ul id="estimateDropdown" class="collapse list-unstyled ">
                <li><a href="sms-estimate.html">見積検索</a></li>
                <li><a href="sms-estimate-add.html">見積登録</a></li>
              </ul>
            </li>
            <li><a href="#orderDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-form"></i>受注管理</a>
              <ul id="orderDropdown" class="collapse list-unstyled ">
                <li><a href="sms-order.html">注文検索</a></li>
                <li><a href="sms-order-add.html">注文登録</a></li>
              </ul>
            </li>
            <li><a href="#deliveryDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-paper-airplane"></i>納品管理</a>
              <ul id="deliveryDropdown" class="collapse list-unstyled ">
                <li><a href="sms-delivery.html">納品検索</a></li>
                <li><a href="sms-delivery-add.html">納品書作成</a></li>
              </ul>
            </li>
            <li><a href="#invoiceDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-bill"></i>請求管理 </a>
              <ul id="invoiceDropdown" class="collapse list-unstyled ">
                <li><a href="sms-invoice.html">請求検索</a></li>
                <li><a href="sms-invoice-add.html">請求書作成</a></li>
              </ul>
            </li>
            <li><a href="#stockDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-check"></i>在庫管理</a>
              <ul id="stockDropdown" class="collapse list-unstyled ">
                <li><a href="sms-stock.html">在庫検索</a></li>
                <li><a href="sms-stock-add.html">入庫登録</a></li>
                <li><a href="sms-stock-add.html">出庫登録</a></li>
                <li><a href="sms-stock-add.html">棚卸登録</a></li>
              </ul>
            </li>
            <li><a href="#purchaseDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-form"></i>仕入管理</a>
              <ul id="purchaseDropdown" class="collapse list-unstyled ">
                <li><a href="sms-purchase.html">仕入検索</a></li>
                <li><a href="sms-purchase-add.html">仕入登録</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="admin-menu">
          <h5 class="sidenav-heading">管理メニュー</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled"> 
            <li> <a href="sms-statistic.html"> <i class="icon-line-chart"> </i>統計情報</a></li>
            <li> <a href="sms-report.html"> <i class="icon-page"> </i>帳票出力</a></li>
            <li> <a href="#"> <i class="icon-mail"> </i>Contact Us</a></li>
          </ul>
        </div>
      </div>
