<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body text-center">
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#id_modal_customer_add" class="btn btn-primary btn-block btn-sm">顧客登録</button>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#id_modal_branch_add" class="btn btn-primary btn-block btn-sm">支店登録</button>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#id_modal_deliverydest_add" class="btn btn-primary btn-block btn-sm">納品先登録</button>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#id_modal_product_add" class="btn btn-primary btn-block btn-sm">商品登録</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-bind="with: dataModel">
  <div class="card">
    <div class="card-header">
      <h4>検索条件</h4><span data-bind="text: userName"></span>
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label>注文No</label>
            <input type="text" placeholder="" data-mask="99-9999999" class="form-control form-control-sm" data-bind="value: criteria.orderNo">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">顧客</label>
            <select class="form-control form-control-sm" 
              data-bind="options: customerList,
                optionsValue: 'key', optionsText: 'value', value:criteria.customerNo,
                optionsCaption:'選択してください',
                event: {change: $root.doCustomerChange}">
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支店</label>
            <select class="form-control form-control-sm"
              data-bind="options: branchList,
                optionsValue: 'key', optionsText: 'value', value:criteria.branchNo,
                optionsCaption:'選択してください'">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">納品先</label>
            <select class="form-control form-control-sm"
              data-bind="options: deliveryDestList,
                optionsValue: 'key', optionsText: 'value', value:criteria.deliveryDestNo,
                optionsCaption:'選択してください'">
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">開始日</label>
            <input type="text" value="06/22/1980" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: criteria.startDate">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支払条件</label>
            <select class="form-control form-control-sm" 
              data-bind="options: paymentTermsList,
                optionsValue: 'key', optionsText: 'value', value:criteria.paymentTerms,
                optionsCaption:'選択してください'">
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doSearch" class="btn btn-primary btn-block btn-sm">顧客検索</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled id="id_btn_customer_detail" type="button" data-toggle="modal" data-target="#id_modal_customer_detail" class="btn btn-primary btn-block btn-sm with-table-row">顧客詳細</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled id="id_btn_customer_update" type="button" data-toggle="modal" data-target="#id_modal_customer_update" class="btn btn-primary btn-block btn-sm with-table-row">顧客変更</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled data-bind="click:$root.doDelete" type="button" class="btn btn-primary btn-block btn-sm with-table-row">顧客削除</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-bind="with:dataModel">
  <div class="card" data-bind="visible:customerModelList().length > 0">
    <div class="card-header">
      <h4>顧客検索結果</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="id_customer_list" class="table table-striped table-hover table-sm" style="width: 100%;">
          <thead>
            <tr>
              <th>#</th>
              <th>顧客名</th>
              <th>郵便番号</th>
              <th>住所１</th>
              <th>住所２</th>
              <th>電話</th>
              <th>ファックス</th>
              <th>開始日</th>
              <th>支払条件</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: customerModelList">
            <tr class="clickable-row">
              <th scope="row">
                <div class="form-check-inline">
                  <input type="radio" class="form-check-input" name="table_radio" data-bind="value: customerNo" onClick="doCheckedTableRow()">
                </div>
              </th>
              <td><span data-bind="text: customerName"></span></td>
              <td><span data-bind="text: zipcode"></span></td>
              <td><span data-bind="text: address"></span></td>
              <td><span data-bind="text: addressDetail"></span></td>
              <td><span data-bind="text: telNo"></span></td>
              <td><span data-bind="text: faxNo"></span></td>
              <td><span data-bind="text: startDate"></span></td>
              <td><span data-bind="text: paymentTerms"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Modal-->
<div th:include="modal/modal-customer-add">
</div>
<div th:include="modal/modal-customer-detail">
</div>
<div th:include="modal/modal-customer-update">
</div>
<div th:include="modal/modal-branch-add">
</div>
<div th:include="modal/modal-deliveryDest-add">
</div>
<div th:include="modal/modal-product-add">
</div>
<!-- Modal-->
