<section class="forms">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10">
        <header class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
          <h1 class="h3 display mb-2 mb-sm-0">納品書</h1>
          <p class="mb-0">
            <button class="btn btn-secondary mb-2 mb-sm-0">キャンセル</button>
            <button class="btn btn-primary mb-2 mb-sm-0">納品書作成</button>
          </p>
        </header>
        <div class="card card-body p-5">
          <div class="row">
            <div class="col text-right">
              <!-- Badge-->
              <div class="badge badge-primary">2019/12/01</div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <!-- Logo--><img src="img/brand/brand-1.svg" alt="..." style="max-width: 6rem;" class="img-fluid mb-4">
              <!-- Heading-->
              <h2 class="mb-2">株式会社シーエムエス</h2>
              <p class="text-muted mb-6">納品書 #20190204</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <h6 class="text-uppercase text-muted">from</h6>
              <p class="text-muted mb-4"><strong class="text-body">株式会社シーエムエス</strong><br>
              東京都江東区森下5-11-8　荒川ビル２F<br>
              TEL:03-1234-5678<br>
              FAX:03-1234-5678</p>
            </div>
            <div class="col-12 col-md-6 text-md-right">
              <h6 class="text-uppercase text-muted">to</h6>
              <p class="text-muted mb-4"><strong class="text-body">株式会社日本ＸＸＸ　東京営業所　御中</strong><br>
              発注番号：A0011-123456-1<br>
              出荷日:2019/11/01<br>
              納品日:2019/11/05</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- Table-->
              <div class="table-responsive">
                <table class="table my-4">
                  <thead>
                    <tr>
                      <th class="px-0 bg-transparent border-top-0"><span class="h6">商品名</span></th>
                      <th class="px-0 bg-transparent border-top-0"><span class="h6">数量</span></th>
                      <th class="px-0 bg-transparent border-top-0 text-right"><span class="h6">金額</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="px-0">アクアフォーム３６０</td>
                      <td class="px-0">50</td>
                      <td class="px-0 text-right">90,230円</td>
                    </tr>
                    <tr>
                      <td class="px-0">ワールド151－100ガン</td>
                      <td class="px-0">3</td>
                      <td class="px-0 text-right">33,300円</td>
                    </tr>
                    <tr>
                      <td class="px-0 border-top"><strong>合計金額</strong></td>
                      <td colspan="2" class="px-0 text-right border-top"><span class="h3"123,530円</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr class="my-5">
              <h6 class="text-uppercase">Note</h6>
              <p class="text-muted mb-0">有難う御座いました。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
