<section data-bind="with: dataModel.criteria">
<form>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-2">
          <h4>検索条件</h4>
        </div>
        <div class="col-lg-2 offset-lg-6">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doSearch" class="btn btn-primary btn-block btn-sm">顧客検索</button>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <button type="reset" class="btn btn-primary btn-block btn-sm">リセット</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">顧客名</label>
            <input type="text" placeholder="顧客名" class="form-control form-control-sm" data-bind="value: customerName">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支店名</label>
            <input type="text" placeholder="支店名" class="form-control form-control-sm" data-bind="value: branchName">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">納品先名</label>
            <input type="text" placeholder="納品先" class="form-control form-control-sm" data-bind="value: deliveryDestName">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label>注文No</label>
            <input type="text" placeholder="99-9999999" class="form-control form-control-sm" data-bind="value: orderNo">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">開始日</label>
            <input type="text" placeholder="2019/11/30" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: startDate">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支払条件</label>
            <input type="text" placeholder="支払条件" class="form-control form-control-sm" data-bind="value: paymentTermsName">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#id_modal_customer_add">顧客追加</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doDetail" class="btn btn-primary btn-block btn-sm disabled with-table-row">顧客詳細</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doUpdate" class="btn btn-primary btn-block btn-sm disabled with-table-row">顧客変更</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doDelete" class="btn btn-primary btn-block btn-sm disabled with-table-row">顧客削除</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>

<div th:insert="include/inc-customer-list">
</div>

<!-- Modal-->
<div th:insert="modal/modal-customer-add">
</div>
<div th:insert="modal/modal-error">
</div>
<!-- Modal-->
