<section data-bind="with: dataModel">
  <div class="container-fluid">
    <div class="card mt-3">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-8">
            <H4>顧客別注文状況</H4>
          </div>
          <div class="col-lg-1">
            <label class="form-control-label">顧客</label>
          </div>
          <div class="col-lg-3">
            <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:criteria.customerNo, event:{change: $root.doCustomerChange}">
              <option th:each="keyValue : ${smsViewModel.customerList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="calendar">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal-->
<div th:insert="modal/modal-customer-add">
</div>
<div th:insert="modal/modal-customer-detail">
</div>
<div th:insert="modal/modal-customer-update">
</div>
<div th:insert="modal/modal-branch-add">
</div>
<div th:insert="modal/modal-deliveryDest-add">
</div>
<div th:insert="modal/modal-product-add">
</div>
<!-- Modal-->
