<section data-bind="with: dataModel">
  <div class="card">
    <div class="card-header" th:if="${isListNeedBtn}">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <h4>商品情報</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#id_modal_product_add">商品追加</button>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <button type="button" disabled class="btn btn-primary btn-block btn-sm with-table-row" data-bind="click: $root.doDeleteProductItem">商品削除</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" data-bind="visible : productModelList().length > 0">
      <div class="table-responsive">
        <table id="id_product_list" class="table table-sm" style="width: 100%;">
          <thead>
            <tr>
              <th class="d-none">#</th>
              <th width="10%">商品名</th>
              <th width="10%">商品コード</th>
              <th width="10%">単価</th>
              <th width="10%">商品区分</th>
              <th width="10%">単位</th>
              <th>備考</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: productModelList">
            <tr onClick="doSelectTableRow(this)">
              <td data-bind="text: productCode" class="d-none"></td>
              <td data-bind="text: productName"></td>
              <td data-bind="text: productCode"></td>
              <td data-bind="text: unitPrice"></td>
              <td data-bind="text: productTypeName"></td>
              <td data-bind="text: unitTypeName"></td>
              <td data-bind="text: remarks"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
