<div class="card">
  <div class="card-body text-center">
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <button type="button" data-toggle="modal" data-target="#id_modal_order_add" class="btn btn-info btn-block btn-sm">注文登録</button>
        </div>
      </div>
      <div class="col-sm-2 offset-sm-1">
        <div class="form-group">
          <button type="button" data-toggle="modal" data-target="#id_modal_customer_add" class="btn btn-warning btn-block btn-sm">顧客登録</button>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <button type="button" data-toggle="modal" data-target="#id_modal_branch_add" class="btn btn-danger btn-block btn-sm">支店登録</button>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <button type="button" data-toggle="modal" data-target="#id_modal_deliverydest_add" class="btn btn-primary btn-block btn-sm">納品先登録</button>
        </div>
      </div>
      <div class="col-sm-2 offset-sm-1">
        <div class="form-group">
          <button type="button" data-toggle="modal" data-target="#id_modal_product_add" class="btn btn-secondary btn-block btn-sm">商品登録</button>
        </div>
      </div>
    </div>
  </div>
</div>
