<section data-bind="with:dataModel">
  <div class="card">
    <div class="card-header">
      <h4>検索条件</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">顧客</label>
            <select class="form-control form-control-sm" data-bind="value:criteria.customerNo, event:{change: $root.doCustomerChange}">
              <option th:each="keyValue : ${smsViewModel.customerList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支店</label>
            <select class="form-control form-control-sm" data-bind="value:criteria.branchNo">
              <option th:each="keyValue : ${smsViewModel.branchList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">納品先</label>
            <select class="form-control form-control-sm" data-bind="value:criteria.deliveryDestNo">
              <option th:each="keyValue : ${smsViewModel.deliveryDestList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doSearch" class="btn btn-primary btn-block btn-sm">支店検索</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <a class="btn btn-primary btn-block btn-sm disabled with-table-row" href="sms-branch-detail.html" role="button">支店詳細</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <a class="btn btn-primary btn-block btn-sm disabled with-table-row" href="sms-branch-update.html" role="button">支店変更</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled data-bind="click:$root.doDelete" type="button" class="btn btn-primary btn-block btn-sm with-table-row">支店削除</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div th:insert="include/inc-branch-list">
</div>

<!-- Modal-->
<div th:insert="modal/modal-error">
</div>
<!-- Modal-->
