<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body text-center">
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#id_modal_customer_add" class="btn btn-primary btn-block btn-sm">顧客登録</button>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#id_modal_branch_add" class="btn btn-primary btn-block btn-sm">支店登録</button>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#id_modal_deliverydest_add" class="btn btn-primary btn-block btn-sm">納品先登録</button>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#id_modal_product_add" class="btn btn-primary btn-block btn-sm">商品登録</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-bind="with:dataModel">
  <div class="card">
    <div class="card-header">
      <h4>検索条件</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">顧客</label>
            <select class="form-control form-control-sm" 
              data-bind="options:customerList,
                optionsValue: 'key', optionsText: 'value', value:criteria.customerNo,
                optionsCaption:'選択してください',
                event: {change: $root.doCustomerChange}">
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">支店</label>
            <select class="form-control form-control-sm"
              data-bind="options:branchList,
                optionsValue: 'key', optionsText: 'value', value:criteria.branchNo,
                optionsCaption:'選択してください'">
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">納品先</label>
            <select class="form-control form-control-sm"
              data-bind="options:deliveryDestList,
                optionsValue: 'key', optionsText: 'value', value:criteria.deliveryDestNo,
                optionsCaption:'選択してください'">
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <button type="button" data-bind="click:$root.doSearch" class="btn btn-primary btn-block btn-sm">支店検索</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled id="id_btn_customer_detail" type="button" data-toggle="modal" data-target="#id_modal_branch_detail" class="btn btn-primary btn-block btn-sm with-table-row">支店詳細</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled id="id_btn_customer_update" type="button" data-toggle="modal" data-target="#id_modal_branch_update" class="btn btn-primary btn-block btn-sm with-table-row">支店変更</button>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button disabled data-bind="click:$root.doDelete" type="button" class="btn btn-primary btn-block btn-sm with-table-row">支店削除</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-bind="with:dataModel">
  <div class="card" data-bind="visible:branchModelList().length > 0">
    <div class="card-header">
      <h4>支店検索結果</h4>
    </div>
    <div class="card-body">
      <div>
        <table id="id_branch_list" class="table table-striped table-hover table-sm table-bordered" style="width: 100%;">
          <thead>
            <tr>
              <th width="2%">#</th>
              <th width="10%">支店名</th>
              <th width="10%">郵便番号</th>
              <th width="30%">住所１</th>
              <th>住所２</th>
              <th width="10%">電話</th>
              <th width="10%">ファックス</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: branchModelList">
            <tr class="clickable-row">
              <th scope="row">
                <div class="form-check-inline">
                  <input type="radio" class="form-check-input" name="table_radio" data-bind="value:branchNo" onClick="doCheckedTableRow()">
                </div>
              </th>
              <td><span data-bind="text:branchName"></span></td>
              <td><span data-bind="text:zipcode"></span></td>
              <td><span data-bind="text:address"></span></td>
              <td><span data-bind="text:addressDetail"></span></td>
              <td><span data-bind="text:telNo"></span></td>
              <td><span data-bind="text:faxNo"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Modal-->
<div th:insert="modal/modal-customer-add">
</div>
<div th:insert="modal/modal-branch-add">
</div>
<div th:insert="modal/modal-branch-detail">
</div>
<div th:insert="modal/modal-branch-update">
</div>
<div th:insert="modal/modal-deliverydest-add">
</div>
<div th:insert="modal/modal-product-add">
</div>
<!-- Modal-->
