<section class="charts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card line-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Line Chart Example</h4>
          </div>
          <div class="card-body">
            <canvas id="lineChartExample"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Bar Chart Example</h4>
          </div>
          <div class="card-body">
            <canvas id="barChartExample"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card line-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Line Chart Example</h4>
          </div>
          <div class="card-body">
            <canvas id="lineChartExample1"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Bar Chart Example</h4>
          </div>
          <div class="card-body">
            <canvas id="barChartExample1"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card pie-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Pie Chart Example</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="pieChartExample"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Ploar Chart Example</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="polarChartExample"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card pie-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Pie Chart Example</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="pieChartExample1"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Ploar Chart Example</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="polarChartExample1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>gauge1</h4>
          </div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge1" class="gauge-canvas"></canvas><span id="gauge1Value" class="gauge-label"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>gauge2</h4>
          </div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge2" class="gauge-canvas"></canvas><span id="gauge2Value" class="gauge-label"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>gauge3</h4>
          </div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge3" class="gauge-canvas"></canvas><span id="gauge3Value" class="gauge-label"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card polar-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>gauge4</h4>
          </div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge4" class="gauge-canvas"></canvas><span id="gauge4Value" class="gauge-label"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Sparklines</h4>
      </div>
      <div class="card-body">
        <p>This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML, or via javascript. See more at <a href="https://omnipotent.net/jquery.sparkline/">jQuery Sparklines homepage.</a></p>
        <div class="row mt-5">
          <div class="col-md-3">
            <p>Line sparkline<span values="5,6,7,9,9,5,3,2,2,4,6,7,5,6,7,9,9,5,3,2,2,4,6,7" class="sparklines"></span></p>
            <p>Bar chart<span values="5,6,7,2,0,-4,-2,4,5,6,7,2,0,-4,-2,4" sparkType="bar" class="sparklines"></span></p>
            <p>Bar chart stacked<span values="5:10,2:3,7:4,4:3,5:10,2:3,7:4,4:3" sparkType="bar" class="sparklines"></span></p>
          </div>
          <div class="col-md-3">
            <p>Box plot chart<span values="5,6,7,9,9,5,3,2,2,4,6,7,5,6,7,9,9,5,3,2,2,4,6,7" sparkType="box" class="sparklines"></span></p>
            <p>Discrete chart<span values="5,6,7,9,9,5,3,2,2,4,6,7" sparkType="discrete" sparkWidth="50" class="sparklines"></span></p>
            <p>Pie chart<span values="1,3,5" sparkType="pie" class="sparklines">                           </span></p>
          </div>
          <div class="col-md-3">
            <p>Line sparkline<span values="5,6,7,9,9,5,3,2,2,4,6,7,5,6,7,9,9,5,3,2,2,4,6,7" class="sparklines"></span></p>
            <p>Bar chart<span values="5,6,7,2,0,-4,-2,4,5,6,7,2,0,-4,-2,4" sparkType="bar" class="sparklines"></span></p>
            <p>Bar chart stacked<span values="5:10,2:3,7:4,4:3,5:10,2:3,7:4,4:3" sparkType="bar" class="sparklines"></span></p>
          </div>
          <div class="col-md-3">
            <p>Box plot chart<span values="5,6,7,9,9,5,3,2,2,4,6,7,5,6,7,9,9,5,3,2,2,4,6,7" sparkType="box" class="sparklines"></span></p>
            <p>Discrete chart<span values="5,6,7,9,9,5,3,2,2,4,6,7" sparkType="discrete" sparkWidth="50" class="sparklines"></span></p>
            <p>Pie chart<span values="1,3,5" sparkType="pie" class="sparklines">                           </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal-->
<div th:include="modal/modal-order-add">
</div>
<div th:include="modal/modal-order-detail">
</div>
<div th:include="modal/modal-order-update">
</div>
<div th:include="modal/modal-customer-add">
</div>
<div th:include="modal/modal-branch-add">
</div>
<div th:include="modal/modal-product-add">
</div>
<!-- Modal-->
