<section data-bind="with: dataModel">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <h4>納品先情報</h4>
            </div>
          </div>
          <div class="col-sm-2" th:if="${isListNeedBtn}">
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#id_modal_deliverydest_add">納品先追加</button>
            </div>
          </div>
          <div class="col-sm-2" th:if="${isListNeedBtn}">
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-block btn-sm with-table-row" data-bind="click: $root.doDeleteItem">納品先削除</button>
            </div>
          </div>
      </div>
      <div class="card-body" data-bind="visible : deliveryDestModelList().length > 0">
        <div class="table-responsive border">
          <table id="id_deliverydest_list" class="table table-sm" style="width: 100%;">
            <thead>
              <tr>
                <th class="d-none">#</th>
                <th class="d-none">#</th>
                <th class="d-none">#</th>
                <th width="20%">納品先名</th>
                <th width="10%">郵便番号</th>
                <th width="20%">住所１</th>
                <th>住所２</th>
                <th width="10%">電話</th>
                <th width="10%">ファックス</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: deliveryDestModelList">
              <tr onClick="doSelectTableRow(this)">
                <td data-bind="text: customerNo" class="d-none"></td>
                <td data-bind="text: branchNo" class="d-none"></td>
                <td data-bind="text: deliveryDestNo" class="d-none"></td>
                <td><span data-bind="text: deliveryDestName"></span></td>
                <td><span data-bind="text: zipcode"></span></td>
                <td><span data-bind="text: address"></span></td>
                <td><span data-bind="text: addressDetail"></span></td>
                <td><span data-bind="text: telNo"></span></td>
                <td><span data-bind="text: faxNo"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
