                  <!-- Modal-->
                  <div id="id_modal_order_add" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">注文登録</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label">顧客名</label>
                                <select data-style="btn-primary" class="selectpicker form-control form-control-sm">
                                  <option>顧客　A</option>
                                  <option>B　顧客</option>
                                  <option>顧客　C</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label class="form-control-label">支店名</label>
                                <select data-style="btn-primary" class="selectpicker form-control form-control-sm">
                                  <option>支店　A</option>
                                  <option>B　支店</option>
                                  <option>支店　C</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label">納品先名</label>
                                <select data-style="btn-primary" class="selectpicker form-control form-control-sm">
                                  <option>納品先　A</option>
                                  <option>B　納品先</option>
                                  <option>納品先　C</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label>商品名</label>
                                <select data-style="btn-primary" class="selectpicker form-control form-control-sm">
                                  <option>商品名商品名　1</option>
                                  <option>商品名商品名　2</option>
                                  <option>商品名商品名　3</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label">送り状No</label>
                                <input type="text" placeholder="" data-mask="99-9999999" class="form-control form-control-sm">
                                <span class="font-13 text-muted">99-9999999</span>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label class="form-control-label">注文No</label>
                                <input type="text" placeholder="" data-mask="99-9999999" class="form-control form-control-sm">
                                <span class="font-13 text-muted">99-9999999</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label">発注日</label>
                                <input type="text" value="06/22/1980" class="form-control input-datepicker-autoclose form-control-sm">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label">発送日</label>
                                <input type="text" value="06/22/1980" class="form-control input-datepicker-autoclose form-control-sm">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>個数</label>
                                <input type="text" class="form-control form-control-sm" placeholder="個数">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">       
                                <label>修正単価</label>
                                <input type="text" class="form-control form-control-sm" placeholder="修正単価">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" data-dismiss="modal" class="btn btn-secondary btn-sm">Close</button>
                          <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
