<section class="forms" data-bind="with: dataModel">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>顧客情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="form-control-label col-sm-3">顧客名</label>
              <div class="col-sm-9">
                <select class="form-control form-control-sm" 
                  data-bind="options: customerList,
                    optionsValue: 'key', optionsText: 'value', value:customerModel.customerNo,
                    optionsCaption:'選択してください',
                    event: {change: $root.doCustomerChange}">
                </select>
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">住所</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: customerModel.address">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">電話</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: customerModel.telNo">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">ファックス</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: customerModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>支店情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="form-control-label col-sm-3">支店名</label>
              <div class="col-sm-9">
                <select class="form-control form-control-sm"
                  data-bind="options: branchList,
                    optionsValue: 'key', optionsText: 'value', value:branchModel.branchNo,
                    optionsCaption:'選択してください'">
                </select>
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">住所</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: branchModel.address">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">電話</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: branchModel.telNo">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">ファックス</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: branchModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>納品先情報</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="form-control-label col-sm-3">納品先名</label>
              <div class="col-sm-9">
                <select class="form-control form-control-sm"
                  data-bind="options: deliveryDestList,
                    optionsValue: 'key', optionsText: 'value', value:deliveryDestModel.deliveryDestNo,
                    optionsCaption:'選択してください'">
                </select>
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">住所</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: deliveryDestModel.address">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">電話</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: deliveryDestModel.telNo">
              </div>
            </div>
            <div class="form-group row">       
              <label class="form-control-label col-sm-3">ファックス</label>
              <div class="col-sm-9">
                <input type="text" disabled="" class="form-control form-control-sm" data-bind="value: deliveryDestModel.faxNo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4>注文情報</h4>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="form-control-label col-sm-3">見積No</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" data-bind="value: detail.estimationNo">
            </div>
          </div>
          <div class="form-group row">       
            <label class="form-control-label col-sm-3">注文No</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" data-bind="value: detail.orderNo">
            </div>
          </div>
          <div class="form-group row">       
            <label class="form-control-label col-sm-3">見積作成日</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: detail.estimationDate">
            </div>
          </div>
          <div class="form-group row">       
            <label class="form-control-label col-sm-3">見積提示日</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: detail.estimationSendDate">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">       
            <label class="form-control-label col-sm-1">メモ</label>
            <div class="col-sm-12">
              <textarea class="form-control form-control-sm" rows="3" data-bind="value: detail.memo"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-bind="with: dataModel">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <h4>商品情報</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.doAddItem">商品追加</button>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <button disabled id="id_btn_detail" type="button" data-bind="click: $root.doItemDetail" class="btn btn-primary btn-block btn-sm with-table-row">商品詳細</button>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <button disabled id="id_btn_update" type="button" data-bind="click: $root.doUpdateItem" class="btn btn-primary btn-block btn-sm with-table-row">商品変更</button>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <button disabled type="button" data-bind="click: $root.doDeleteItem" class="btn btn-primary btn-block btn-sm with-table-row">商品削除</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" data-bind="visible : productModelList().length > 0">
      <div class="table-responsive">
        <table id="id_order_add_list" class="table table-striped table-bordered table-hover table-sm" style="width: 100%;">
          <thead>
            <tr>
              <th>#</th>
              <th width="10%">商品名</th>
              <th width="10%">商品コード</th>
              <th width="5%">個数</th>
              <th width="5%">ケース</th>
              <th width="10%">単価</th>
              <th width="10%">修正単価</th>
              <th width="10%">合計金額</th>
              <th>備考</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: productModelList">
            <tr>
              <th scope="row">
                <div class="form-check-inline">
                  <input type="radio" class="form-check-input" name="table_radio" data-bind="value: productCode" onClick="doCheckedTableRow()">
                </div>
              </th>
              <td width="10%">
                <select class="form-control form-control-sm" data-bind="options: productMasterList,
                  optionsValue: 'key', optionsText: 'value', value: productName, optionsCaption:'選択してください'">
                </select>
              </td>
              <td width="10%"><span data-bind="text: productCode" class="form-control form-control-sm"></td>
              <td width="5%"><input data-bind="value: quantity" type="text" class="form-control form-control-sm"></td>
              <td width="5%"><span data-bind="text: quantityOfBox" class="form-control form-control-sm"></td>
              <td width="10%"><span data-bind="text: unitPrice" class="form-control form-control-sm"></td>
              <td width="10%"><input data-bind="value: discountPrice" type="text" class="form-control form-control-sm"></td>
              <td width="10%"><span data-bind="text: amount" class="form-control form-control-sm"></td>
              <td><input data-bind="value: remarks" type="text" class="form-control form-control-sm"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.doAdd, enable: dataModel.productModelList().length > 0">更新</button>
        </div>
        <div class="col-sm-3 offset-sm-6">
          <button type="button" class="btn btn-secondary btn-block btn-sm" data-bind="click: $root.doCancel">キャンセル</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal-->
<div th:include="modal/modal-product-add">
</div>
<div th:include="modal/modal-product-detail">
</div>
<div th:include="modal/modal-product-update">
</div>
<!-- Modal-->
