<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords"content="Sales Management System, 販売管理">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Sales Management System Standard Version">
	<meta name="author" content="KSK Co., Ltd.">
	
	<link rel="canonical" href="http://ksk-inc.com/salse/">
 	<link href="/css/lib/bootstrap.css" th:href="@{/css/lib/bootstrap.css}" rel="stylesheet"></link>
 	<link href="/css/cmn/common.css" th:href="@{/css/cmn/common.css}" rel="stylesheet"></link>

	<title>Sales Management System</title>
	
	<noscript>
		BrowserのJavascriptを有効にしてください。
	</noscript>
</head>

<body class="text-center">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	  <header id="id_cover_header" class="masthead mb-auto">
	    <div class="inner">
	      <h3 class="masthead-brand">Sales Management System</h3>
	      <nav class="nav nav-masthead justify-content-center">
	        <a class="nav-link active" href="#">Cover</a>
	        <a class="nav-link" href="#" th:href="@{features}">Features</a>
	        <a class="nav-link" href="#" th:href="@{contact}">Contact</a>
	        <a class="nav-link text-warning" href="#" th:href="@{login}">Login</a>
	      </nav>
	    </div>
	  </header>

	  <main id="id_cover_main" role="main" class="inner cover border">
	    <h1 class="cover-heading">Sales Management System</h1>
	    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
	    <p class="lead">
	      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
	    </p>
	  </main>

	  <footer id="id_footer" class="mastfoot mt-auto">
	    <div class="inner">
	      <p>Copyright (C) since 2019 <a href="https://www.c-mss.com/">CMS Co., Ltd.</a> All rights reserved.</p>
	    </div>
	  </footer>
	</div>
</body>
</html>
