<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords"content="Sales Management System, 販売管理">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Sales Management System Standard Version">
	<meta name="author" content="KSK Co., Ltd.">
	
	<link rel="canonical" href="http://ksk-inc.com/salse/">
 	<link href="/css/lib/bootstrap.css" th:href="@{/css/lib/bootstrap.css}" rel="stylesheet"></link>
 	<link href="/css/cmn/common.css" th:href="@{/css/cmn/common.css}" rel="stylesheet"></link>

	<title>Sales Management System</title>
	
	<noscript>
		BrowserのJavascriptを有効にしてください。
	</noscript>
</head>

<body class="text-center">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	  <header id="id_home_header" class="masthead mb-auto">
	  </header>

	  <main id="id_home_main" role="main" class="inner cover border">
	  </main>

	  <footer id="id_footer" class="mastfoot mt-auto">
	  </footer>
	</div>

</body>

<script th:src="@{/js/lib/jquery-3.4.1.js}"></script>
<script th:src="@{/js/lib/json2.js}"></script>
<script th:src="@{/js/lib/popper.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.js}"></script>
<script th:src="@{/js/lib/knockout-3.5.0.js}"></script>
<script th:src="@{/js/lib/knockout.mapping-latest.js}"></script>
<script th:src="@{/js/lib/docs.min.js}"></script>
<script th:src="@{/js/cmn/namespace.js}"></script>
<script th:src="@{/js/cmn/common.js}"></script>
<script th:src="@{/js/cmn/validation.js}"></script>

<script type="text/javascript">
  $(function(){
    var loadObj = [
      { id:"#id_home_header", url:"home_header"},
      { id:"#id_home_main", url:"home_main"},
      { id:"#id_footer", url:"footer"}
    ];
			sms.common.loadHtml( loadObj, function() {
    });
  })
</script>

</html>
