<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.sms.dao.mapper.ReferenceMapper">

    <select id="findList" parameterType="String" resultType="com.cms.sms.dao.domain.Reference">
		SELECT * 
		FROM tbl_reference 
		WHERE type = #{type}
		ORDER BY code
    </select>

</mapper>
