<!-- Modal-->
<div id="id_modal_estimation_add" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel" class="modal-title">見積登録</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body" data-bind="with: dataModel">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h4>顧客情報</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group row">
                    <label class="form-control-label col-sm-3">顧客名</label>
                    <div class="col-sm-9">
                      <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:detail.customerNo, event:{change: $root.doCustomerChange}">
                        <option th:each="keyValue : ${smsViewModel.customerList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">住所</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: customerModel.address">
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">電話</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: customerModel.telNo">
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">ファックス</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: customerModel.faxNo">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h4>支店情報</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group row">
                    <label class="form-control-label col-sm-3">支店名</label>
                    <div class="col-sm-9">
                      <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:detail.branchNo">
                        <option th:each="keyValue : ${smsViewModel.branchList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">住所</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: branchModel.address">
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">電話</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: branchModel.telNo">
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">ファックス</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: branchModel.faxNo">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h4>納品先情報</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group row">
                    <label class="form-control-label col-sm-3">納品先名</label>
                    <div class="col-sm-9">
                      <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value:detail.deliveryDestNo">
                        <option th:each="keyValue : ${smsViewModel.deliveryDestList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">住所</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: deliveryDestModel.address">
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">電話</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: deliveryDestModel.telNo">
                    </div>
                  </div>
                  <div class="form-group row">       
                    <label class="form-control-label col-sm-3">ファックス</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control form-control-sm" data-bind="value: deliveryDestModel.faxNo">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h4>見積情報</h4>
              </div>
              <div class="card-body">
                <div class="form-group row align-items-center">
                  <label class="form-control-label col-sm-3">見積No</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" data-bind="value: detail.estimationNo">
                  </div>
                </div>
                <div class="form-group row align-items-center">       
                  <label class="form-control-label col-sm-3">注文No</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" data-bind="value: detail.orderNo">
                  </div>
                </div>
                <div class="form-group row align-items-center">       
                  <label class="form-control-label col-sm-3">見積作成日</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: detail.estimationDate">
                  </div>
                </div>
                <div class="form-group row align-items-center">       
                  <label class="form-control-label col-sm-3">見積提示日</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: detail.estimationSendDate">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">       
          <label class="form-control-label col-sm-1">メモ</label>
          <div class="col-sm-11">
            <textarea class="form-control form-control-sm" rows="2" data-bind="value: detail.memo"></textarea>
          </div>
        </div>

        <div class="card">
          <div class="card-header d-flex align-items-center">
            <div class="col-sm-6">
              <div class="form-group">
                <h4>商品情報</h4>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.doAddItem">商品追加</button>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block btn-sm with-table-row" data-bind="click: $root.doDeleteItem">商品削除</button>
              </div>
            </div>
          </div>
          <div class="card-body" data-bind="visible : productModelList().length > 0">
            <div class="table-responsive">
              <table id="id_order_add_list" class="table table-striped table-bordered table-hover table-sm" style="width: 100%;">
                <thead>
                  <tr>
                    <th width="2%">#</th>
                    <th width="10%">商品名</th>
                    <th width="10%">商品コード</th>
                    <th width="5%">個数</th>
                    <th width="5%">ケース</th>
                    <th width="10%">単価</th>
                    <th width="10%">修正単価</th>
                    <th width="10%">合計金額</th>
                    <th>備考</th>
                  </tr>
                </thead>
                <tbody data-bind="foreach: productModelList">
                  <tr>
                    <th scope="row">
                      <div class="form-check-inline">
                        <input type="radio" class="form-check-input" name="table_radio" data-bind="value: productCode" onClick="doCheckedTableRow()">
                      </div>
                    </th>
                    <td>
                      <select class="form-control form-control-sm selectpicker" data-style="btn-primary" data-bind="value: productName">
                        <option th:each="keyValue : ${smsViewModel.productMasterList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
                      </select>
                    </td>
                    <td><span data-bind="text: productCode" class="form-control form-control-sm"></td>
                    <td><input data-bind="value: quantity" type="text" class="form-control form-control-sm"></td>
                    <td><span data-bind="text: quantityOfBox" class="form-control form-control-sm"></td>
                    <td><span data-bind="text: unitPrice" class="form-control form-control-sm"></td>
                    <td><input data-bind="value: discountPrice" type="text" class="form-control form-control-sm"></td>
                    <td><span data-bind="text: amount" class="form-control form-control-sm"></td>
                    <td><input data-bind="value: remarks" type="text" class="form-control form-control-sm"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block btn-sm" data-bind="click: $root.doAdd">登録</button>
        <button type="button" class="btn btn-secondary btn-block btn-sm" data-dismiss="modal" data-bind="click: $root.doCancel">キャンセル</button>
      </div>
    </div>
  </div>
</div>
