<div id="id_modal_customer_detail" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">顧客詳細</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body" data-bind="with: dataModel">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>顧客名</label>
              <input type="text" class="form-control form-control-sm" placeholder="顧客名" data-bind="value: customerModel.customerName">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">       
              <label>開始日</label>
              <input type="text" value="2019/11/22" class="form-control input-datepicker-autoclose form-control-sm" data-bind="value: customerModel.startDate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>郵便番号</label>
              <input type="text" class="form-control form-control-sm" data-bind="value: customerModel.zipcode" placeholder="101-0061">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">       
              <label>住所１</label>
              <input type="text" class="form-control form-control-sm" data-bind="value: customerModel.address" placeholder="住所１">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>住所２</label>
              <input type="text" class="form-control form-control-sm" data-bind="value: customerModel.addressDetail" placeholder="住所２">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>電話番号</label>
              <input type="text" class="form-control form-control-sm" data-bind="value: customerModel.telNo" placeholder="090-1324-5678">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">       
              <label>ファックス</label>
              <input type="text" class="form-control form-control-sm" data-bind="value: customerModel.faxNo" placeholder="03-1324-5678">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label">支払条件</label>
              <select class="form-control form-control-sm" data-bind="value:customerModel.paymentTerms">
                <option th:each="keyValue : ${smsViewModel.paymentTermsList}" th:value="${keyValue.key}" th:inline="text">[[${keyValue.value}]]</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block btn-sm" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>
