<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksk.sms.dao.mapper.BranchMapper">

	<sql id="whereStatements">
		<where>
			<if test="customerNo != null and customerNo != ''">
				AND customerNo = #{customerNo}
			</if>
			<if test="branchNo != null and branchNo != ''">
				AND branchNo = #{branchNo}
			</if>
			<if test="branchName != null and branchName != ''">
				AND branchName = #{branchName}
			</if>
			<if test="zipcode != null and zipcode != ''">
				AND zipcode = #{zipcode}
			</if>
			<if test="address != null and address != ''">
				AND address = #{address}
			</if>
			<if test="addressDetail != null and addressDetail != ''">
				AND addressDetail = #{addressDetail}
			</if>
			<if test="telNo != null and telNo != ''">
				AND telNo = #{telNo}
			</if>
			<if test="faxNo != null and faxNo != ''">
				AND faxNo = #{faxNo}
			</if>
		</where>
	</sql>

    <select id="findOne" parameterType="com.ksk.sms.dao.domain.Branch" resultType="com.ksk.sms.dao.domain.Branch">
		SELECT
			*
		FROM
			tbl_branch
		WHERE
			customerNo =  #{customerNo}
			AND branchNo =  #{branchNo}
    </select>

    <select id="findList" parameterType="com.ksk.sms.dao.domain.Branch" resultType="com.ksk.sms.dao.domain.Branch">
		SELECT
			* 
		FROM
			tbl_branch
		<include refid="whereStatements" />
		ORDER BY
			customerNo, branchNo
    </select>

    <select id="count" parameterType="com.ksk.sms.dao.domain.Branch" resultType="_long">
		SELECT
			COUNT(*)
		FROM
			tbl_branch
		<include refid="whereStatements" />
    </select>

    <insert id="create" parameterType="com.ksk.sms.dao.domain.Branch" useGeneratedKeys="true"  keyProperty="branchNo">
		INSERT INTO
			tbl_branch
		(
		    customerNo,
		    branchName,
		    zipcode,
		    address,
		    addressDetail,
		    telNo,
		    faxNo
		)
		VALUES
		(
			#{customerNo},
			#{branchName},
			#{zipcode},
			#{address},
			#{addressDetail},
			#{telNo},
			#{faxNo}
		)
    </insert>

    <insert id="createAll" parameterType="java.util.List">
		INSERT INTO
			tbl_branch
		(
		    customerNo,
		    branchName,
		    zipcode,
		    address,
		    addressDetail,
		    telNo,
		    faxNo
		)
		VALUES
		<foreach collection="list" item="item" separator=",">
		(
			#{item.customerNo},
			#{item.branchName},
			#{item.zipcode},
			#{item.address},
			#{item.addressDetail},
			#{item.telNo},
			#{item.faxNo}
		)
		</foreach>
	</insert>

	<update id="update" parameterType="com.ksk.sms.dao.domain.Branch">
		UPDATE
			tbl_branch
		<set>
			<if test="branchName != null">branchName = #{branchName}, </if>
			<if test="zipcode != null">zipcode = #{zipcode}, </if>
			<if test="address != null">address = #{address}, </if>
			<if test="addressDetail != null">addressDetail = #{addressDetail}, </if>
			<if test="telNo != null">telNo = #{telNo}, </if>
			<if test="faxNo != null">faxNo = #{faxNo}, </if>
		</set>
		WHERE
			customerNo =  #{customerNo}
			AND branchNo =  #{branchNo}
	</update>

	<delete id="delete" parameterType="com.ksk.sms.dao.domain.Branch">
		DELETE FROM
				tbl_branch
		WHERE
			customerNo =  #{customerNo}
			AND branchNo =  #{branchNo}
	</delete>

</mapper>
