<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksk.sms.dao.mapper.UserInfoMapper">
    <select id="getUserInfo" parameterType="String" resultType="com.ksk.sms.dao.domain.UserInfo">
		SELECT * FROM tbl_user WHERE username =  #{user}
    </select>
</mapper>
