	    <p class="lead">
	      <a href="#" th:href="@{sms_order_search}" class="btn btn-lg btn-primary btn-block">注文管理</a>
	    </p>
	    <p class="lead">
	      <a href="#" th:href="@{sms_costomer_search}" class="btn btn-lg btn-success btn-block">顧客管理</a>
	    </p>
	    <p class="lead">
	      <a href="#" th:href="@{sms_product_search}" class="btn btn-lg btn-danger btn-block">商品管理</a>
	    </p>
	    <p class="lead">
	      <a href="#" th:href="@{sms_stock_search}" class="btn btn-lg btn-warning btn-block">在庫管理</a>
	    </p>
	    <p class="lead">
	      <a href="#" th:href="@{sms_print_report}" class="btn btn-lg btn-info btn-block">帳票出力</a>
	    </p>
	    <p class="lead">
	      <a href="#" th:href="@{mainmenu}" class="btn btn-lg btn-secondary btn-block">mainmenu</a>
	    </p>
	    <p class="lead">
	      <a href="#" th:href="@{sms_home}" class="btn btn-lg btn-primary btn-block">sms_home</a>
	    </p>
	    <p class="lead">
	      <a href="#" th:href="@{sms_order}" class="btn btn-lg btn-primary btn-block">sms_order</a>
	    </p>
